@charset "utf-8";

/* ---------------全局定义--------------- */
html, body, h1, h2, h3, h4, h5, h6, div, ul, ol, li, dl, dt, dd, p, form, input, select, button, textarea, table, tr, th, td, iframe {
	margin: 0;
	padding-top: 0;
	padding-right: 20;
	padding-bottom: 0;
	padding-left: 0;
}
ul, ol {
	list-style: none;
}
img {
	border: 0;
	vertical-align: top;
}

body {
	font-family: Arial;
	font-size: 14px;
}

/* 链接 */
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #F00;
}

/* 表单样式 */
input, select, textarea, label {
	font-family: Tahoma;
	font-size: 12px;
	vertical-align: middle;
}
.form_text {
	padding-left: 3px;
	height: 18px;
	border: 1px solid;
	border-color: #999 #CCC #CCC #999;
	line-height: 18px;
}
.form_textarea {
	padding-left: 3px;
	border: 1px solid;
	border-color: #999 #CCC #CCC #999;
	line-height: 20px;
}
.form_btn {
	padding: 5px 15px;
	overflow: visible;
}

/* ---------------页面布局--------------- */

/* 结构 */
.content {
	width: 1000px;
	overflow: hidden;
	margin: auto;
	margin-top:20px;
	
}

/* ---------------浮动--------------- */
.f_left {
	float: left;
}
.f_right {
	float: right;
}

/* ---------------外边距--------------- */
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}

/* headbar */
.headbar {
	margin: auto;
	width: 100%;
	height: 28px;
	background: #0998E1;
	font-family: "宋体";
	font-size: 12px;
	color: #FFF;
	line-height: 28px;
}
.headbar_l {
	float: left;
	padding-left: 10px;
}
.headbar_r {
	float: right;
	padding-right: 10px;
}
.headbar a {
	color: #FFF;
}
.headbar a:hover {
	color: #FF0;
}

/* header */
.header {
	width: 100%;
	height: 145px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 1px;
	margin-left: auto;
}

/* 导航 */
.nav {
	margin: auto;
	width: 100%;
	height: 45px;
	background: url(../images/nav.jpg);
	padding: 0px;
}
.nav a {
	float: left;
	width: 145px;
	height: 45px;
	background: url(../images/nav_space.gif) no-repeat right;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #FFF;
	line-height: 33px;
	text-align: center;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	font-size:15px;
}
.nav a:hover, .nav a.crt {
	color: #000;
}

/* 地市、搜索 */
.navbar {
	margin: auto;
	width: 100%;
	height: 30px;
	background: url(../images/nav_bar.gif);
}
.nav_dishi {
	float: left;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #F00;
	line-height: 30px;
}
.nav_dishi a {
	color: #F00;
}
.nav_dishi a:hover {
	color: #C00;
}
.nav_search {
	float: right;
	padding: 5px 10px 0 0;
}
.search_text {
	width: 150px;
	height: 18px;
	border: 1px solid #BED6E0;
	background: #FFF;
	line-height: 18px;
}
.search_btn {
	padding-left: 15px;
	width: 60px;
	height: 20px;
	border: 0;
	background: url(../images/search_btn.gif);
	color: #333;
	cursor: pointer;
}

/* ---------------页脚--------------- */
.footbar {
	margin: auto;
	width: 1000px;
	height: 30px;
	background: url(../images/footbar.gif);
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	
}
.footer {
	margin: auto;
	padding: 10px 0 15px 0;
	width: 1000px;
	font-size: 12px;
	color: #333;
	line-height: 24px;
	text-align: center;
}
/*政务公开*/
.left
{
    float: left;
}
.width239
{
    width: 239px; _overflow:hidden;
}
.l_tiee
{
    background: url(../images/renwg.png) no-repeat 0 bottom;
    line-height: 30px;
    padding-bottom: 3px;
}
.daoheng
{
    border: solid 1px #f4f4f4;
    padding: 10px;
    overflow: hidden;
    line-height: 32px;
}
.bg_02
{
    background: url(../images/bgss2.png) no-repeat right bottom #FFFFFF;
}
.m_bottm_5
{
	margin-bottom: 10px;
	width: 225px;
}
.daohang_apsn{ _overflow:hidden;}
.daohang_apsn li
{
    border-bottom: dotted 1px #ececec;
    float: left;
    padding: 0 35px 0 20px;
    background: url(../images/ico_01.png) 8px center no-repeat;
}
.daohang_apsn a
{
    line-height: 30px;
}
.daohang_apsn li.item48
{
    float:none;
    clear:both;
}
.clear
{
    clear: both;
}
.l_tiee
{
    background: url(../images/renwg.png) no-repeat 0 bottom;
    line-height: 30px;
    padding-bottom: 3px;
}
.tianaom
{
    background: url(../images/newn_ee.png) right bottom no-repeat;
    overflow: hidden;
}
.bg_03
{
	background: url(../images/fewnge.png) right bottom no-repeat;
	_height:86px;
	_width:239px;
	height: 100px;
}
.bg_03 a
{
	display: block;
	float: left;
	padding-left: 15px;
	background: url(../images/xiaodien.png) no-repeat 0 center;
	margin-right: 10px;
	width: 85px;
	_position:relative;
}
.hongx
{
    background: url(../images/newn_e.png) right bottom no-repeat;
}
.bg_04
{
    background: url(../images/bg_2.png) no-repeat 0 0;
    overflow: hidden;
    height: 190px;
}
.ul_a
{
    margin-left: 20px;
    overflow: hidden;
}
.ul_a a
{
    display: block;
    margin-left: 15px;
    float: left;
    margin-right: 60px;
	_margin-right:40px;
    height: 35px;
    color: #660000;
}
.ul_a a.style40, .ul_a a.style42
{
    margin-right: 0px;
}
.xinxa
{
    padding: 15px 10px 0 30px;
	_padding: 8px 10px 0 30px;
    line-height: 30px;
    color: #660000;
}
.zw_ico
{
    background: url(../images/henwg.png) no-repeat;
    display: block;
    padding-left: 40px;
}
.foot_weight
{
    font-weight: bold;
}
.foot_size14
{
    font-size: 14px;
}
.c_red
{
    color: #d30005;
}
.dane_ico
{
    background: url(../images/ico_02.png) no-repeat 12px center;
    display: block;
    padding-left: 30px;
}
.dane_ico
{
    background: url(../images/ico_02.png) no-repeat 12px center;
    display: block;
    padding-left: 30px;
}
/*anli*/

.anli{ width:960px; margin:0 auto; height:445px; padding-top:40px;}
.al01{ width:290px; float:left; background:url(../images/al_lbg.gif) no-repeat 2px 96px; height:380px; font-family:"Microsoft Yahei";}
.al01 h3{ font-size:24px;}
.al01 h3 a{ color:#000;}
.al01 h3 span{ font-weight:normal; display:block; color:#aaa; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:16px; padding-top:3px;}
.al01 ul{ padding-top:35px;}
.al01 ul li{ font-family:Arial, Helvetica, sans-serif; height:85px; color:#7f848a; }
.al01 ul li a{ display:block; font-size:14px; font-family:"Microsoft Yahei"; font-weight:bold; line-height:22px;background: url(../images/al_libg.gif) no-repeat left 3px; padding-left:32px; color:#7f848a;}
.al01 ul .cur a{  background:url(../images/al_licur.gif) no-repeat left 3px; text-decoration:none; color:#0069e3;}
.al01 ul li a:hover{ background:url(../images/al_licur.gif) no-repeat left 3px; text-decoration:none; color:#0069e3;}
.al01 ul li span{padding-left:32px;}
.al02{ width:642px; float:right; background:url(../images/al_bg.gif) no-repeat; height:377px; margin-top:10px; position:relative;}
.al02 img{ width:638px; height:372px;}
.al02 span{ position:absolute; left:0px; top:318px; color:#e7e7e7; height:54px; line-height:54px; font-family:"Microsoft Yahei"; font-size:16px; text-align:center; display:block; width:638px;
background:rgba(16,16,16,0.6) none repeat scroll !important; filter:Alpha(opacity=70);}
/*huanj*/
.hz{
	width:1000px;
	height:400px;
	font-family:"Microsoft Yahei";
	padding-top:20px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.hz h3{font-size:18px; height:30px; line-height:30px; margin-bottom:38px;}
.hz h3 a{ color:#0069e3;}
.hz h3 i{ font-style:normal; font-weight:normal; text-transform:uppercase; color:#a3a3a3; font-family:Arial, Helvetica, sans-serif; font-size:16px; padding-left:8px;}
.hz h3 span{ float:right; background:url(../images/more.gif) no-repeat center right; padding-right:19px;}
.hz h3 span a{color:#a3a3a3; font-size:12px; font-weight:normal;}
.hz_con{
	width:996px;
	float:left;
}
.hz_con ul{ display:inline-block;}
.hz_con li{
	float:left;
	width:308px;
	margin-right:25px;
}
.hz_con .nom{_margin-right:5px;}
.hz_con li img{
	width:308px;
	height:249px;
	font-size:0;
	border:1px solid #ccc;
}
.hz_con li span{
	display:block;
	background:#0069e3;
	color:#fff;
	height:36px;
	line-height:36px;
	text-align:center;
	width:308px;
}
.hz_ud{ float:left; padding-top:30px;}
.hz_ud ul li a{ display:block; width:28px; height:29px; background:url(../images/hz_u.gif) no-repeat; margin-bottom:8px;}
.hz_ud ul .down a{background:url(../images/hz_d2.gif) no-repeat;}
.hz_ud ul li a:hover{background:url(../images/hz_u2.gif) no-repeat;}
.hz_ud ul .down a:hover{background:url(../images/hz_d.gif) no-repeat;}
.ys01{
	width:480px;
	float:left;
	background:url(../images/ys_bg1.gif) no-repeat right center;
	padding-right:0px;
	/* [disabled]height: 410px; */
}
.ys01 h3{ background:#0069e3; padding-left:30px; height:48px; margin-bottom:24px;}
.ys01 h3 a{ color:#fff; padding-top:15px; display:inline-block;}
.ys01 h3 b{ font-weight:normal; display:block; font-size:16px; line-height:25px;}
.ys01 dl dt{height:221px; margin-bottom:20px;}
.ys01 dl dt img{
	width:480px;
	height:180px;
}
.ys01 dl dd p{ background:url(../images/ys_li.gif) no-repeat left 12px; font-size:14px; color:#474747; line-height:27px; padding-left:22px; padding-top:3px;}
.ys01 dl dd em{ display:block; padding-top:20px;}
.ys02{ background:none; margin-left:40px;padding-bottom:24px;}
.pro_r{
	background:url(../images/pro_rbg.png) no-repeat;
	width:730px;
	height:300px;
	float:left;
	font-family:"Microsoft Yahei";
}
.pro_r h3{ height:64px; line-height:64px; font-size:18px; font-weight:normal;}
.pro_r h3 a{ color:#fff; background:url(../images/pr_h3.gif) no-repeat 32px bottom; padding-bottom:5px; padding-left:36px;}
.pro_r h3 span{ float:right; font-size:12px; padding-right:40px; background:url(Img/Index/pr_m.gif) no-repeat 64px center;}
.pro_r h3 span a{ background:none;}
.pro_r ul{ margin:27px 0 0 8px;_margin:27px 0 0 4px;}
.pro_r ul li{ width:202px; float:left; padding:0 15px;_padding:0 14px; height:215px;}
.pro_r ul li img{ width:202px; height:152px; padding:3px; border:1px solid #e5e5e5;}
.pro_r ul li span{ font-size:12px; color:#757575; display:block; text-align: center; height:28px; line-height:20px;}
.dtt_c{ float:left; width:332px;font-family:"Microsoft Yahei";}
.dtt_c h3{ border-bottom:1px solid #e5e5e5; padding-bottom:4px;}
.dtt_c dl { padding:10px 0; font-family:"Microsoft Yahei";}
.dtt_c .nobor { border-bottom:none;}
.dtt_c dl dt { background: url(../images/dt_w.gif) no-repeat left 0px; height:22px; line-height:22px; padding-left:30px; overflow:hidden; font-weight:bold; font-size:13px; margin-bottom:5px; border-bottom:1px dashed #e3e3e3; padding-bottom:5px;}
.dtt_c dl dt a { color:#0069e3;}
.dtt_c dd { background:url(../images/dt_d.gif) no-repeat left 0px; line-height:22px; padding-left:30px;color:#8c8d8d; height:47px; overflow:hidden; font-size:12px;}
.dtt_c h3{font-size:18px; height:30px; line-height:30px; margin-bottom:20px;}
.dtt_c h3 a{ color:#0069e3;}
.dtt_c h3 i{ font-style:normal; font-weight:normal; text-transform:uppercase; color:#a3a3a3; font-family:Arial, Helvetica, sans-serif; font-size:16px; padding-left:8px;}
.dtt_c h3 span{ float:right; background:url(Img/Index/more.gif) no-repeat center right; padding-right:19px;}
.dtt_c h3 span a{color:#a3a3a3; font-size:12px; font-weight:normal;}

.pro_r1{
	background:url(../images/zhongbiao.png) no-repeat;
	width:260px;
	height:300px;
	float:left;
	font-family:"Microsoft Yahei";
}
.pro_r1 h3{ height:64px; line-height:64px; font-size:18px; font-weight:normal;}
.pro_r1 h3 a{ color:#fff; background:url(../images/pr_h3.gif) no-repeat 32px bottom; padding-bottom:5px; padding-left:36px;}
.pro_r1 h3 span{ float:right; font-size:12px; padding-right:40px; background:url(Img/Index/pr_m.gif) no-repeat 64px center;}
.pro_r1 h3 span a{ background:none;}


/*dibu*/
.f_menu{ height:52px; line-height:52px; font-size:12px; clear:both; color:#a3adbd; background-color:#0069e3; margin-top:50px;}
.f_menu a{ color:#a3adbd; padding:0 23px; display: inline-block;}p
/*daohan*/
.navigation {
	margin-top: 2em;
}
.navigation {
	margin-top: 2em;
}
ul.navig {
	padding:0;
}
ul.navig li:nth-child(6) {
 border-right: none;
}
ul.navig li {
	list-style: none;
	display: inline-block;
	float: left;
	background: #0998e1;
	width: 12.5%;
	height: 50px;
}
ul.navig li a {
	color: #0000;
	font-size: 19px;
	display: block;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-family:"微软雅黑"; 
}
ul.navig li a:hover, ul.navig li.active a {
	background:#fff;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	text-decoration:none;
}
/*jiejue*/
.dtt_c H3 {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 18px; HEIGHT: 30px; LINE-HEIGHT: 30px
}
.dtt_c H3 A {
	COLOR: #0069e3
}
.dtt_c H3 I {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; FONT-WEIGHT: normal; COLOR: #a3a3a3; FONT-STYLE: normal; PADDING-LEFT: 8px
}
.dtt_c H3 SPAN {
	BACKGROUND: url(../images/more.gif) no-repeat right center; FLOAT: right; PADDING-RIGHT: 19px
}
.dtt_c H3 SPAN A {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; COLOR: #a3a3a3
}
.dtt {
	HEIGHT: 395px; PADDING-TOP: 20px; MARGIN: 0px auto; WIDTH: 960px
}
.dtt_l {
	BACKGROUND: url(../images/dt_bg.gif) no-repeat right center;
	FLOAT: left;
	PADDING-RIGHT: 13px;
	WIDTH: 630px
}
.dtt_c {
	FONT-FAMILY: "Microsoft Yahei";
	FLOAT: right;
	WIDTH: 280px
}
.dtt_c H3 {
	BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 4px
}
.dtt_c DL {
	FONT-FAMILY: "Microsoft Yahei"; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dtt_c .nobor {
	BORDER-BOTTOM-STYLE: none
}
.dtt_c DL DT {
	OVERFLOW: hidden; MARGIN-BOTTOM: 5px; FONT-SIZE: 13px; HEIGHT: 22px; BACKGROUND: url(Img/Index/dt_w.gif) no-repeat left 0px; BORDER-BOTTOM: #e3e3e3 1px dashed; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-LEFT: 30px; LINE-HEIGHT: 22px
}
.dtt_c DL DT A {
	COLOR: #0069e3
}
.dtt_c DD {
	OVERFLOW: hidden;
	FONT-SIZE: 12px;
	HEIGHT: 47px;
	BACKGROUND: url(../images/dt_d.gif) no-repeat left 0px;
	COLOR: #8c8d8d;
	PADDING-LEFT: 10px;
	LINE-HEIGHT: 22px;
	padding-right: 40px;
}
.dt_menu {
	MARGIN-BOTTOM: 15px; FONT-SIZE: 18px; HEIGHT: 35px; FONT-FAMILY: "微软雅黑"; BACKGROUND: url(../imags/dt_line.gif) no-repeat center bottom; LINE-HEIGHT: 35px
}
.dt_menu UL LI {
	FLOAT: left; FONT-WEIGHT: bold
}
.dt_menu UL LI A {
	FONT-WEIGHT: normal; COLOR: #aaa; DISPLAY: inline-block; LINE-HEIGHT: 35px
}
.dt_menu UL LI A:hover {
	BACKGROUND: url(../images/dt_icon.gif) no-repeat center bottom; FONT-WEIGHT: bold; COLOR: #0069e3; TEXT-DECORATION: none
}
.dt_menu UL .cur A {
	BACKGROUND: url(../images/dt_icon.gif) no-repeat center bottom; FONT-WEIGHT: bold; COLOR: #0069e3; TEXT-DECORATION: none
}
.dt_menu UL .bor {
	BACKGROUND: url(../images/dt_lin.gif) no-repeat 85px 11px; PADDING-RIGHT: 28px
}
.dt_menu UL .paadl {
	
}
.dt_menu SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; FLOAT: right
}
.dt_menu SPAN {
	BACKGROUND: url(../images/more.gif) no-repeat right center; FLOAT: right; PADDING-RIGHT: 19px
}
.dt_menu SPAN A {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; COLOR: #a3a3a3
}
.dt_menu UL LI I {
	FONT-WEIGHT: normal; FONT-STYLE: normal; PADDING-LEFT: 6px
}
.dt_con {
	OVERFLOW: hidden;
	FONT-FAMILY: "Microsoft Yahei";
	WIDTH: 630px
}
.dt_con DL {
	HEIGHT: 134px
}
.dt_con DL DT {
	HEIGHT: 134px; BACKGROUND: url(../images/dt_picbg.jpg) no-repeat; FLOAT: left; PADDING-RIGHT: 30px; WIDTH: 226px
}
.dt_con DL DT IMG {
	HEIGHT: 124px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; WIDTH: 217px
}
.dt_con DL DD {
	FLOAT: left;
	WIDTH: 277px;
	margin-left: 30px;
}
.dt_con DL DD H4 {
	OVERFLOW: hidden; HEIGHT: 30px; LINE-HEIGHT: 30px
}
.dt_con DL DD H4 A {
	FONT-SIZE: 14px; COLOR: #666
}
.dt_con DL DD P {
	OVERFLOW: hidden; FONT-SIZE: 12px; HEIGHT: 98px; COLOR: #666; PADDING-TOP: 5px; LINE-HEIGHT: 25px
}
.dt_con DL DD P A {
	COLOR: #666
}
.clear {
	FONT-SIZE: 0px; HEIGHT: 0px; CLEAR: both; LINE-HEIGHT: 0
}
.dt_list {
	PADDING-TOP: 20px
}
.dt_list UL LI {
	OVERFLOW: hidden; HEIGHT: 39px; BORDER-BOTTOM: #e3e3e3 1px dashed; FLOAT: left; COLOR: #727272; LINE-HEIGHT: 39px; WIDTH: 535px
}
.dt_list UL LI SPAN {
	FLOAT: right
}
.dt_list UL LI A {
	COLOR: #727272
}
.dt_list UL .nobor {
	BORDER-BOTTOM-STYLE: none
}
