@charset "utf-8";

/* 结构 */
.side {
	float: left;
	width: 260px;
}
.wide {
	float: left;
	width: 1000px;
	
	
}

/* 滚动新闻 */
.scroll_news {
	margin: 10px auto;
	width: 1000px;
	font-size: 12px;
}
.scroll_news a {
	margin-right: 20px;
	color: #666;
}
.scroll_news a:hover {
	color: #F00;
}

/* 新闻 */
.news {
	width: 730px;
	height: 295px;
	background: url(../images/news.jpg);
}

/* 图片新闻 */
.picnews {
	float: left;
	padding: 5px;
	width: 355px;
	height: 285px;
}
#picnews_tab {
	height: 25px;
}
#picnews_tab ul {
	float: left;
}
#picnews_tab a.more {
	float: right;
	padding-right: 3px;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	line-height: 22px;
}
#picnews_tab a:hover.more {
	color: #F00;
}
#picnews_tab li {
	float: left;
}
#picnews_tab li a {
	display: block;
	width: 80px;
	height: 25px;
	font-family: "微软雅黑";
	line-height: 25px;
	text-align: center;
}
#picnews_tab li.out a {
	background: url(../images/pic_news_tab.gif) no-repeat -80px 0;
	color: #039;
}
#picnews_tab li.over a {
	background: url(../images/pic_news_tab.gif) no-repeat 0 0;
	font-weight: bold;
	color: #FFF;
}
#picnews_con {
	width: 355px;
	height: 260px;
	background: #FFF;
}

/* 显示隐藏(js调用) */
.dis {
	display: block;
}
.undis {
	display: none;
}

/* 要闻关注 */
.focusnews {
	float: right;
	width: 355px;
}
.focusnews_t {
	height: 50px;
}
.focusnews_t h2 {
	float: left;
	margin-left: 8px;
	padding-left: 12px;
	background: url(../棋牌/box_t_arrow.gif) no-repeat left center;
	font-family: "微软雅黑";
	font-size: 26px;
	color: #FFFF;
	line-height: 30px;
	margin-top:8px;
}
.focusnews_t h2 a {
	color: #ffff;
	font-family:"Microsoft Yahei";
}
.focusnews_t h2 span{ font-weight:normal;color:#aaa;font-family:Arial, Helvetica, sans-serif; font-size:16px; padding-top:3px;}
.focusnews_t a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 14px;
	color: #ffff;
	line-height: 33px;
	margin-top:8px;
}
.focusnews_t a:hover.more {
	color: #0069e3;
}
.focusnews_box_c {
	height: 258px;
}
.focusnews_box_c ul {
	padding: 3px 0 0 3px;
	line-height: 26px;
}
.focusnews_box_c span {
	float: right;
	padding-right: 10px;
	font-size: 12px;
	color: #999;
}
.focusnews_box_c a {
	padding-left: 16px;
	color: #0B46A1;
}
.focusnews_box_c a:hover {
	color: #F00;
}

/* 新闻外框 */
.news_container {
	padding: 4px;
	height: 455px;
	border: 1px solid #ACCEEA;
	overflow: hidden;
	zoom: 1;
}

/* 新闻模块 */
.news_box {
	float: left;
	width: 490px;
}
.news_box_t {
	height: 35px;
	
}
.news_box_t h2 {
	float: left;
	margin-left: 8px;
	padding-left: 12px;
	font-family: "微软雅黑";
	font-size: 24px;
	color: #fffff;
	line-height: 30px;
}
.news_box_t h2 a {
	color: #fffff;
}
.news_box_t h2 span{ font-weight:normal;color:#aaa;font-family:Arial, Helvetica, sans-serif; font-size:16px; padding-top:3px;}

.news_box_t h2 a.out {
	color: #333;
}
.news_box_t h2 a.over {
	color: #039;
}
.news_box_t h2 span {
	padding: 0 10px;
	font-weight: normal;
	font-size: 13px;
	color: #ACCEEA;
}
.news_box_t a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	line-height: 33px;
}
.news_box_t a:hover.more {
	color: #F00;
}
.news_box_c {
	border: 1px solid #ACCEEA;
	border-top: 0;
	overflow: hidden;
}

/* 新闻模块2 */
.news_box_2 {
	float: left;
	width: 345px;
	
}
.news_box_t_2 {
	height: 35px;
	background: url(../images/news_box_t_2.gif);
}
.news_box_t_2 h2 {
	float: left;
	margin-left: 8px;
	padding-left: 12px;
	background: url(../images/box_t_arrow.gif) no-repeat left center;
	line-height: 30px;
}
.news_box_t_2 h2 a {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #039;
}
.news_box_t_2 h2 a.out {
	color: #333;
}
.news_box_t_2 h2 a.over {
	color: #039;
}
.news_box_t_2 h2 span {
	padding: 0 10px;
	font-weight: normal;
	font-size: 13px;
	color: #ACCEEA;
}
.news_box_t_2 a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	line-height: 33px;
}
.news_box_t_2 a:hover.more {
	color: #F00;
}
.news_box_c_2 {
	overflow: hidden;
}

/* 列表高度 */
.h185 {
	height: 185px;
}
.h139 {
	height: 139px;
}
.h174 {
	height: 174px;
}
.h194 {
	height: 246px;
}
.h219 {
	height: 219px;
}
.h254 {
	height: 254px;
}
.h304 {
	height: 304px;
}

/* 侧边模块 */
.side_box {
	width: 260px;
}
.side_box_t {
	height: 35px;
	background: url(../images/side_box_t_2.gif);
}
.side_box_t h2 {
	float: left;
	margin-left: 8px;
	padding-left: 12px;
	background: url(../images/box_t_arrow.gif) no-repeat left center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #039;
	line-height: 30px;
}
.side_box_t h2 a {
	color: #039;
}
.side_box_t a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	line-height: 33px;
}
.side_box_t a:hover.more {
	color: #F00;
}

/* 新闻列表 */
.news_list {
	padding: 3px 0 0 8px;
	line-height: 26px;
	
}
.news_list a {
	padding-left: 16px;
	color: #0B46A1;
}
.news_list a:hover {
	color: #F00;
}

/* 列表图标 */
.arrow_1 {
	background: url(../images/arrow.gif) no-repeat 0 0;
}
.arrow_2 {
	background: url(../images/arrow.gif) no-repeat 0 -16px;
}
.arrow_3 {
	background: url(../images/arrow.gif) no-repeat 0 -48px;
}
.arrow_4 {
	background: url(../images/arrow.gif) no-repeat 0 -64px;
}
.arrow_5 {
	background: url(../images/arrow.gif) no-repeat 0 -80px;
}
.arrow_6 {
	background: url(../images/arrow.gif) no-repeat 0 -96px;
}

/* 新闻列表(带标签) */
.news_list_label {
	padding: 3px 0 0 10px;
	line-height: 26px;
}
.news_list_label a.label {
	color: #C00;
}
.news_list_label a:hover.label {
	color: #F00;
}
.news_list_label a {
	color: #0B46A1;
}
.news_list_label a:hover {
	color: #F00;
}

/* 热点关注 */
.news_hot {
	overflow: hidden;
	zoom: 1;
}
.news_hot a {
	float: left;
	padding-right: 5px;
}

/* 信息公开 */
.public {
	width: 260px;
}
.public_title {
	height: 30px;
	background: url(../images/public.gif);
}
.public_title a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #FFF;
	line-height: 30px;
}
.public_title a:hover.more {
	color: #FF0;
}
.public_content {
	height: 219px;
	border: 1px solid #F8B17E;
	border-top: 0;
	background: url(../images/public_con.gif);
	overflow: hidden;
}
.public_list {
	padding: 5px 0 0 9px;
	overflow: hidden;
}
.public_list li {
	float: left;
	width: 124px;
	height: 26px;
	font-size: 13px;
	line-height: 26px;
	background: url(../images/dashed_2.gif) repeat-x bottom;
	overflow: hidden;
}
.public_list a {
	font-weight: bold;
	color: #B22D00;
}
.public_list a:hover {
	color: #F00;
}
.public_list_2 {
	padding: 5px 0 0 6px;
	overflow: hidden;
	zoom: 1;
}
.public_list_2 li {
	float: left;
	width: 120px;
}
.public_list_2 a {
	padding-left: 16px;
	font-size: 13px;
	line-height: 21px;
}

/* 党务公开 */
.dangwu {
	width: 260px;
}
.dangwu_title {
	height: 30px;
	background: url(../images/dangwu.gif);
}
.dangwu_title a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #FFF;
	line-height: 30px;
}
.dangwu_title a:hover.more {
	color: #FF0;
}
.dangwu_content {
	height: 79px;
	border: 1px solid #F8B17E;
	border-top: 0;
	background: url(../images/dangwu_bg.gif) repeat-x top #FFFDF4;
}
.dangwu_list {
	padding: 9px 0 0 6px;
	overflow: hidden;
	zoom: 1;
}
.dangwu_list li {
	float: left;
	width: 125px;
}
.dangwu_list a {
	padding-left: 16px;
	font-size: 13px;
	line-height: 22px;
}

/* 党风廉政建设 */
.dangfeng {
	width: 260px;
}
.dangfeng_title {
	height: 30px;
	background: url(../images/dangfeng.gif);
}
.dangfeng_title a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #FFF;
	line-height: 30px;
}
.dangfeng_title a:hover.more {
	color: #FF0;
}
.dangfeng_content {
	height: 59px;
	border: 1px solid #F8B17E;
	border-top: 0;
	background: url(../images/dangwu_bg.gif) repeat-x top #FFFDF4;
}

/* 政风行风评议 */
.zhengfeng {
	width: 260px;
}
.zhengfeng_title {
	height: 30px;
	background: url(../images/zhengfeng.gif);
}
.zhengfeng_content {
	height: 149px;
	border: 1px solid #F8B17E;
	border-top: 0;
	background: url(../images/dangwu_bg.gif) repeat-x top #FFFDF4;
	font-size: 13px;
}
.zhengfeng_list1 {
	padding: 6px 9px;
	width: 240px;
	height: 70px;
	background: url(../images/zhengfeng_bg.gif) no-repeat center center;
}
.zhengfeng_list1 li {
	float: left;
	width: 120px;
	height: 35px;
}
.zhengfeng_list1 li a {
	display: block;
	padding-left: 45px;
	height: 35px;
	color: #600;
	line-height: 35px;
}
.zhengfeng_list1 li a:hover {
	color: #F00;
}
.zhengfeng_list1 li a.hd_ico_1 {
	background: url(../images/zhengfeng_ico_1.gif) no-repeat 12px center;
}
.zhengfeng_list1 li a.hd_ico_2 {
	background: url(../images/zhengfeng_ico_2.gif) no-repeat 12px center;
}
.zhengfeng_list1 li a.hd_ico_3 {
	background: url(../images/zhengfeng_ico_3.gif) no-repeat 12px center;
}
.zhengfeng_list1 li a.hd_ico_4 {
	background: url(../images/zhengfeng_ico_4.gif) no-repeat 12px center;
}
.zhengfeng_list2 {
	padding: 0 9px;
	width: 240px;
}
.zhengfeng_list2 li {
	margin-bottom: 6px;
	padding-left: 40px;
	width: 200px;
	height: 25px;
	font-family: Arial;
	color: #600;
	line-height: 25px;
}
.zhengfeng_list2 li.hd_ico_5 {
	background: url(../images/zhengfeng_ico_5.gif);
}
.zhengfeng_list2 li.hd_ico_6 {
	background: url(../images/zhengfeng_ico_6.gif);
}

/* 办公、申报、培训 */
.zonghe {
	float: left;
	width: 998px;
	height: 199px;
}
.shenbao_t {
	height: 35px;
	background: url(../images/shenbao_t.gif);
}
.shenbao_t h2 {
	float: left;
	margin-left: 8px;
	padding-left: 12px;
	background: url(../images/box_t_arrow.gif) no-repeat left center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #039;
	line-height: 30px;
}
.shenbao_c {
	padding-left: 65px;
	height: 139px;
	background: url(../images/shenbao_bg.gif) no-repeat left bottom #ECF5FC;
	border: 1px solid #ACCEEA;
	border-top: 0;
}
.shenbao_c li {
	float: left;
	padding: 10px 10px 5px 0;
}
.service {
	float: left;
	width: 439px;
	height: 199px;
}
.service_c {
	padding: 5px 0 0 14px;
}
.service_c li {
	float: left;
	padding: 10px 10px 0 0;
}

/* 在线学习培训 */
.learn {
	padding-top: 5px;
	height: 134px;
	background: url(../images/learn_bg.gif) no-repeat right bottom;
}
.learn li {
	margin: auto;
	width: 240px;
	background: url(../images/dashed.gif) repeat-x bottom;
}
.learn li a {
	padding-left: 5px;
	font-weight: bold;
	color: #0B46A1;
	line-height: 40px;
}
.learn li a:hover {
	color: #F00;
}

/* 办事指南 */
.guide {
	padding: 10px 0 0 9px;
}
.guide li {
	float: left;
	padding: 0 9px 15px 0;
	width: 115px;
}

/* 专题专栏 */
.topic {
	width: 1000px;
	height: 330px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.topic_t {
	height: 30px;
}
.topic_t a.more {
	float: right;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	line-height: 30px;
}
.topic_t a:hover.more {
	color: #F00;
}
.topic_c {
	width: 1000px;
	height: 255px;
	overflow: hidden;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.topic_c li {
	float: left;
	margin-right: 13px;
	width: 220px;
}
.topic_arrow_left {
	float: left;
	padding-top: 10px;
	width: 30px;
	cursor: pointer;
	
}
.topic_arrow_right {
	float: left;
	padding-top: 10px;
	width: 30px;
	
	cursor: pointer;
}
#list1 {
	float: left;
}
.cont {
	float: left;
	width: 920px;
	height: 266px;
	overflow: hidden;
	margin-left:15px;
	
}
.scrcont {
	width: 10000000px;
}
#list2 {
	float: left;
}

/* 栏目浏览量排名 */
.ranking {
	padding: 3px 10px;
}
.rank_table {
	border-collapse: collapse;
}
.rank_table td {
	font-size: 13px;
	height: 24px;
}
.rank_table td a {
	color: #0B46A1;
}
.rank_table td a:hover {
	color: #F00;
}
.rank_no {
	display: block;
	width: 14px;
	height: 14px;
	background: url(../images/rank_no.gif);
	font-family: Verdana;
	font-size: 10px;
	-webkit-text-size-adjust: none;
	color: #FFF;
	line-height: 13px;
	text-align: center;
}
.rank_visits {
	font-size: 12px;
	color: #666;
}

/* 投票 */
.vote_title {
	padding: 5px 10px;
	background: #F8FBFE;
	border-bottom: 1px solid #EAF4FD;
	color: #009;
	line-height: 26px;
}
.vote_content {
	padding: 5px 15px;
	height: 185px;
}
.vote_content li {
	height: 26px;
	line-height: 26px;
}
.vote_btn {
	padding-top: 8px;
	border-top: 1px solid #EAF4FD;
	text-align: center;
}
.vote_btn input {
	padding: 2px 10px;
	height: 25px;
	overflow: visible;
}

/* 友情链接 */
.link {
	border: 1px solid #ACCEEA;
	background: url(../images/link_t.gif) repeat-x top #ECF5FC;
}
.link_t {
	height: 30px;
	overflow: hidden;
}
.link_t h2 {
	float: left;
	padding-left: 10px;
	width: 100px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #039;
	line-height: 30px;
}
#link_tab {
	float: left;
	border-left: 1px solid #ACCEEA;
}
#link_tab li {
	float: left;
	padding: 0 20px;
	height: 29px;
	border-right: 1px solid #ACCEEA;
	font-family: "微软雅黑";
	line-height: 29px;
	text-align: center;
	cursor: default;
}
#link_tab li.out {
	color: #039;
}
#link_tab li.over {
	background: url(../images/link_t_over.gif);
	font-weight: bold;
	color: #039;
}
#link_con {
	height: 178px;
	overflow: hidden;
}
#link_con ul {
	padding: 5px;
	height: 168px;
	overflow: scroll;
	overflow-x: hidden;
}
#link_con li {
	float: left;
	width:  140px;
	height: 24px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	overflow: hidden;
}
#link_con li a {
	color: #0B46A1;
}
#link_con li a:hover {
	color: #F00;
}

.link_pic {
	padding: 10px 0;
	width: 998px;
	height: 80px;
	border: 1px solid #ACCEEA;
	background: #ECF5FC;
	overflow: hidden;
}
.link_pic li {
	float: left;
	margin-right: 10px;
	width: 142px;
	height: 50px;
}
.link_arrow_left {
	float: left;
	width: 24px;
	padding-top: 10px;
	margin-top:10px;
}
.link_arrow_right {
	float: left;
	width: 24px;
	padding-top: 10px;
	text-align: right;
	margin-top:10px;
}
#marquee_link {
	float: left;
	width: 950px;
	overflow: hidden;
	height: 75px;
}
#inlink {
    float: left;
    width: 800%;
}
#link1 {
    float: left;
}
#link2 {
    float: left;
}

/*xiangce*/
.huandeng{
	width:246px;
	height:185px;
	background:#f0f0f0;
}
.deng{ width:246px; height:185px;}
