@charset "utf-8";
/* CSS Document */

.wapper { width:1170px; margin:0 auto; }
.col-f7,.wapper a.col-f7:hover { color:#f76120; }
.price>.col-f7 {font-size:18px; }
/*头部左边样式*/
.top { height:30px; border-top:1px solid #eee; border-bottom:1px solid #ddd; }

.login,.top-nav{/* margin-top:8px;*/position:relative; }
.login a ,.top-nav a{ position:relative; display:block; line-height:30px; }
.login a { margin-right:14px; float:left; }
.login a.j-btn {padding-right:24px; padding-left:6px; }

.login .col-f7 { color:#f76120; }
.col-dd { color:#ddd; }
.marRight-14 { margin-right:14px; }
.collection { width:13px; height:14px; background:url(../images/icon-bg.png) 0 -44px; margin-right:4px; margin-top:6px; }
.phone-bg { width:13px; height:14px; background:url(../images/icon-bg.png) 0 -29px; margin-right:4px; margin-top:8px; }
.phone-list>div { width:109px; height:200px; border:1px solid #eee; position:absolute; right:0; top:29px; background:#fff; display:none; }
/*广告*/
.ad { position:relative; }
#closeAd { position:absolute; right:0; top:0; width:20px; height:20px; background:#000; opacity:0; filter:alpha(opacity:0);  }

/*js样式*/
.top .j-btn { border-left:1px solid #fff; border-right:1px solid #fff; }
.top .j-btn.active { border-color:#eee; background:#fff; z-index:3; color:#2bb8aa; }
.active.phone-list { display:block; }
.active .jiao { border-bottom:3px solid #2bb8aa; border-top:none; }
.j-box.active { display:block; }

.top-nav li>div { position:absolute; width:100%; height:200px; background:#fff; border:1px solid #eee; left:0; top:28px; z-index:2; display:none; }

.jiao { position:absolute; border:3px dashed transparent; right:14px; top:14px; border-top:3px solid #999; }


.top-nav a.active>.line { color:#fff; }


.top-nav li { position:relative; float:left; /*border:1px solid red; */ }
.top-nav li>a { padding-left:14px; }
.line {display:inline-block; margin-left:20px; }
.top-nav .jiao { right:8px; }
.shopcar-bg { width:13px; height:14px; background:url(../images/icon-bg.png) 0 -60px; margin-right:4px; margin-top:8px; }

/*搜索框部分样式*/
.header-top { margin-top:30px; }

.logo { text-indent:-999em; width:82px; height:54px; background:url(../images/base.v87fa2a22.png) 0 -896px; }
.logo  a {display:block; width:100%; height:100%; }

.city { margin-left:10px; position:relative; }
.city h3 { font-size:16px; margin:7px 0 8px; font-weight:bold; }
.city span { display:block; padding:4px 5px; border:1px solid #eee; color:#999; }

.search { margin-left:183px;}
.search-box { position:relative; width:421px; height:38px; border:2px solid #2bb8aa;/**/ line-height:38px; font-size:14px; }
/*js  高度变为76 添加边框 第二个em里面内容和第一个换*/
.choice a.active { z-index:2; background:#fff; }
.choice div { border:1px solid #eee; position:absolute; left:0; top:36px; width:61px; background:#fff; text-align:center; line-height:38px;  border-top:none; display:none;}


.choice { cursor:pointer;  width:62px; height:38px; line-height:38px; text-align:center;color:#666; border-right:1px solid #eee; background:#fff; position:absolute; left:0; top:0; }
.choice .jiao { right:7px; top:17px; }

.txt { position:absolute; left:70px; top:0; height:100%; border:none; outline:none; width:350px; padding-left:8px; }
.search-box span{ position:absolute; left:70px; width:350px; height:100%; color:#a9a9a9; }

.search-btn { width:63px; height:42px; background:#2bb8aa; text-align:center; line-height:42px; color:#fff; font-size:14px; }
.option-list a { float:left; padding-right:20px; margin-top:14px; }

.service a{ position:relative; float:left; text-align:center; padding-top:28px; margin-left:20px; margin-top:8px; color:#999; }
.return { width:23px; height:23px; position:absolute; left:50%; margin-left:-11px;top:0; background:url(../images/icon-bg.png); }
.return2 { background-position: -48px 0;}
.return3 { background-position: -24px 0;}

/*导航栏*/
.nav { height:40px; background:#2bb8aa; color:#fff; font-size:16px; line-height:40px; margin-top:16px; }
.nav li{ float:left; }
.nav li a { font-weight:bold; display:block; padding:0 23px; color:#fff; height:100%; line-height:40px; }
.nav li a:hover{ background:#1caf9a;}
.all-list { width:230px; background:#1caf9a; padding-left:16px; }
/*侧边二级菜单*/
.side-nav { position:relative; width:224px; border:1px solid #eee; padding:0 10px; border-top:none; height:477px; }
.side-nav li{  position:relative; width:100%; float:left; height:52px; border-bottom:1px solid #eee; line-height:52px; }
/*js 样式*/
.side-nav li.active { background:#fff; z-index:3; }
.side-nav li.active>.right-jiao { display:none; }
/*子菜单样式*/
.side-nav div { position:absolute; left: 233px; top:0; width:200px; height:470px; background:#fff; text-align:center; line-height:170px; font-size:30px; color:#999; z-index:2; border:1px solid #eee; display:none; }
.side-nav li h3 { font-size:14px; color:#333; font-weight:bold; }
.side-nav li span { color:#999; margin-right:20px; }

.right-jiao { position:absolute; right:6px; top:50%; margin-top:-6px; background:url(../images/icon-bg.png) -75px 0; width:8px; height:13px; }

.top-middle { width:706px; padding:0 10px 2px; border-bottom:1px solid #eee; }
.top-middle dl { position:relative; width:52px; line-height:52px; border-bottom:1px solid #eee; width:666px; padding-left:20px; height:52px;  }


.top-middle div { position:relative; width:686px; overflow:hidden;}

/*点击播放样式*/
.j-show { overflow:hidden; }
.j-show.active .j-abtn { display:block; }
.j-show .j-abtn { position:absolute; top:50%; margin-top:-20px; background:url(../images/floor-new.vf7b9a923.png); z-index:2; opacity:0.5; filter:alpha(opacity:50);display:none;  height:40px;}
.prev { left:0;width:30px; }
.j-show .next { right:0; width:56px; background-position:0 -40px; color:#fff; line-height:40px; font-size:14px; padding-left:4px; }
.top-middle .j-show a.next:hover { color:#fff; }


.hot { background:url(../images/dl-bg_03.png) no-repeat left center; }
.address { background:url(../images/dl-bg_06.png) no-repeat left center; }
.hot-place { background:url(../images/dl-bg_08.png) no-repeat left center; }
.top-middle dt,.top-middle dd {float:left; }
.top-middle dt { margin-right:20px; }
.top-middle dd { margin-right:22px; }

.hot-food { margin-left:-10px; position:relative;left:0px; top:0; width:2124px;}
.hot-food li{ padding:10px; border-right:1px solid #eee; float:left; }

.top-right {width:196px; border:1px solid #eee; border-top:none; overflow:hidden; }
.title {position:relative; overflow:hidden; }
.title .j-show .next { width:30px; background-position: -26px -40px; }
.title a{ display:block; width:100%; text-align:center; border-top:1px solid #eee;}
.title h4 { font-size:22px; margin:58px 0 10px 0; }
.title span { color:#999; }
.title img { margin-top:35px; margin-left:10px; }
.food { width:392px; position:relative; left:0; top:0; }
.food li{ float:left; }
/*名店抢购*/

.m-box { margin-top:30px; }
.m-box h3 span{ font-size:18px; float:left; margin-top:12px; color:#999; font-family:'宋体'; margin-bottom:18px; }
.tick-bg { width:38px; height:38px; background:url(../images/floor-new.vf7b9a923.png) 0 -321px; }

.last-time { background:url(../images/time-bg.png) no-repeat; padding:7px 15px; }
.last-time .toStart { width:49px; height:28px; background:url(../images/floor-new.vf7b9a923.png) 0 -376px; margin-right:11px;}
.last-time span{ float:left; width:20px; height:28px; background:url(../images/floor-new.vf7b9a923.png) 0 -82px; line-height:28px; color:#fff; text-align:center; margin-right:2px; font-weight:bold; font-size:13px; }
.m-box .last-time i { float:left; width:12px; height:28px; background:url(../images/icon-bg.png) -97px 0;}
.set-time { position:relative; }
/*名品点播样式*/
.panic-ul { position:relative; left:0; top:0; width:5000px;  }
.panic-ul ul{ float:left;}


.m-list { margin-right:-1px;}
.m-list li{ float:left; width:205px; padding:15px 14px; border:1px solid #eee; color:#999; margin-right:-1px; }
.m-list li a { position:relative; display:block; }
.m-list p { font-size:14px; font-weight:bold; color:#666; margin:20px 0 15px; }
.m-list p:hover,.explain:hover  { color:#000; }

.m-list .price { border-bottom:1px dotted #eee; padding-bottom:12px; }
.phone-buy { margin-top:12px; display:inline-block; background:#f76120; color:#fff; padding:3px 5px 2px;}

.pos-ab {  width:43px; height:40px; position:absolute; top:-4px; background:url(../images/base.v87fa2a22.png);}
.voucher { left:0; background-position: 0 -619px; }
.free-reservation { left:40px; background-position: 0 -451px; }

.m-bg { width:37px; height:29px; background:url(../images/icon-bg.png) ; margin-right:8px; }
.m-bg1 { background-position:0 -97px}
.m-bg2 { background-position:0 -127px}
.m-bg3 { background-position:-38px -97px}
.m-bg4 { background-position:-76px -97px}
.m-bg5 { background-position:-112px -97px}
.m-bg6 { background-position:-150px -97px}
.m-bg7 { background-position:-38px -127px}
.m-bg8 { background-position:-76px -127px}




.m-list.listWidth { margin-right:-5px;}
.m-list.listWidth li { width:260px; margin-top:-1px; padding:16px; }
.price { margin-top:16px; }
.judge { margin-top:10px; }
.old-price { text-decoration:line-through; }
.list-title li{ float:left; margin-top:8px; position:relative; }
.list-title a { padding:0 9px; float:left; }
.list-title a:hover ,.m-more a:hover,.side-nav li span:hover,.top-middle a:hover ,.header-top .option-list>a:hover{ color:#2bb8aa;}
.list-title i { float:left; }
.jiao2 { position:absolute; width:5px; height:8px; background:url(../images/icon-bg.png) 0 -157px; right:2px; top:50%; margin-top:-4px; }

.m-more { height:48px; line-height:48px; text-align:center; background:#f6f6f6; margin-right:-3px; }
.m-more a { position:relative; display:inline-block; padding-right:10px;  font-size:14px; font-family:'宋体'; }


















