body{background-color:#666}

.wrap{
	width:100px;
	height:400px;
	border:#000 5px dashed;
	margin: 20px auto;
	position:relative;
}

.wrap div{
	width:24px;
	float:left;
	background-color: red;
	position:absolute;
	border-style:groove;
	border:#000000 solid 1px;
}

.wrap .box0{
	height:50px;
}

.wrap .box1{
	height:50px;
}

.wrap .box2{
	height:70px;
}

.wrap .box3{
	height:30px;
}

.wrap .box4{
	height:10px;
}

